.warning 
  padding: 20px
  background: pink
  h2
    color: red
    font-weight: bold
    margin: 0

.startOn
  margin: 10px 0
  img
    margin: 0 20px

.inline
  display: flex
  align-items: center

.container
  padding: 20px

* 
  font-size: 18px
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: Arial, Helvetica, sans-serif


li
  list-style: none

form
  p
    margin: 10px 0
    font-weight: bold
    font-size: .8em
  li
    color: grey
    padding: 5px 15px
    display: flex
    align-items: center
    cursor: pointer
    margin-left: -10px
    &:hover
      background: rgb(219, 241, 255)
      border-radius: 50px
      color: rgb(29, 161, 242)
    
    label 
      margin-left: 15px
      color: inherit
      cursor: pointer
    
h2
  color: rgb(29, 161, 242)
  margin-bottom: 10px

.btn-main 
  cursor: pointer
  margin: 10px 0 20px
  background: rgb(29, 161, 242)
  font-weight: bold
  color: white
  padding: 10px
  border-radius: 50px
  width: 100%
  &:hover
    opacity: .8

.chart 
  width: 100%
  height: 20px
  border: 2px solid grey
  position: relative

.chart span
  display: block
  background: #8581bf
  height: 100%

.chart p
  font-weight: bold
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)

.left
  display: flex
  padding: 10px
  border: 1px solid lightgrey
  cursor: pointer
  &:hover
    background: whitesmoke
  img 
    width: 100px
    height: 70px
    margin-right: 10px
    object-fit: cover
  a
    text-decoration: none
    color: black
  p 
    font-size: .8em
    color: grey