<div class="startOn inline" (click)="startOn = !startOn">
  <div *ngIf="startOn" class="inline">
    <img src="assets/toggle-on.png" alt="">
    <p>On</p>
  </div>
  <div *ngIf="!startOn" class="inline">
    <img src="assets/toggle-off.png" alt="">
    <p>Off</p>
  </div>
</div>
<div class="container" *ngIf="startOn">
  <div *ngIf="warning" class="warning">
    <h2>WARNING!!! This article is on blacklist</h2>
  </div>
  <form id="form" *ngIf="open">
    <h2>Check Credibility for:</h2>
    <ul>
      <p>Website</p>
      <li (click)="filter('image')">
        <input type="checkbox" id="title" [checked]="includes('image')">
        <label for="title">Image</label>
      </li>
      <li (click)="filter('title')">
        <input type="checkbox" id="title" [checked]="includes('title')">
        <label for="title">Title</label>
      </li>
      <li (click)="filter('content')">
        <input type="checkbox" id="title" [checked]="includes('content')">
        <label for="title">Content Text</label>
      </li>
      <p>Social</p>
      <li (click)="filter('Twitter')">
        <input type="checkbox" id="title" [checked]="includes('Twitter')">
        <label for="title">Twitter</label>
      </li>
    </ul>
    <button id="btn-main" (click)=seek() class="btn-main">Seek the truth</button>
  </form>
  <main>
    <section *ngIf="googleSearchService.articles.length > 0" class="website">
      <h2>Website check</h2>
      <ul>
        <li *ngFor="let article of googleSearchService.articles; let i = index">
          <div class="left">
            <img src="{{ article.pagemap && article.pagemap.cse_image && article.pagemap.cse_image.length && article.pagemap.cse_image[0].src || 'https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?v=1530129081' }}" alt="neco">
            <div>
              <a href="{{ article.link }}">{{ article.title }}</a>
            </div>
            <img class="graph" src="assets/{{percentage[i]}}.png" alt="neco">
          </div>
          <div class="meta-data">
            <span>{{ randomDate() }}</span>
            <span>{{ article.displayLink }}</span>
          </div>
          <div></div>
        </li>
      </ul>
    </section>
    <section *ngIf="googleSearchService.images.length > 0" class="website">
      <h2>Image check</h2>
      <ul>
        <li *ngFor="let image of googleSearchService.images; let i = index">
          <div class="left">
            <img src="{{ image.link }}" alt="neco">
            <div>
              <a href="{{ image.link }}">{{ image.title }}</a>
            </div>
            <img class="graph" src="assets/{{percentage[i]}}.png" alt="neco">
          </div>
          <div class="meta-data">
            <span>12.8.2019</span>
            <span>Johny white</span>
            <span>{{ image.displayLink }}</span>
          </div>
          <div></div>
        </li>
      </ul>
    </section>
  </main>
</div>
